// @import "./src/scss/variables";
// @import "./src/scss/overrides";
// @import "./src/scss/modules";

// @import "./src/scss/bar/index.scss";
// @import "./src/scss/control-center/index.scss";
// @import "./src/scss/exitscreen/exit-screen";
// @import "./src/scss/info-center/index.scss";
// @import "./src/scss/lockscreen/index.scss";
// @import "./src/scss/notification-center/index.scss";
// @import "./src/scss/notification-popup/index.scss";

// @import "./src/scss/desk-widgets/index.scss";

// @import "./src/scss/clock/index.scss";


// Common
$font_sans: "Outfit Bold";
$font_sans_light: "Outfit Medium";

$round_max: 999px;
$sidebar_corner_radius: dpi(20px);

@import "./src/scss/calendar/index.scss";
@import "./src/scss/sidebar/index.scss";

// @import "./src/scss/trade-counter/index.scss";

// @import "./src/scss/quotes/index.scss";

// @import "./src/scss/events/index.scss";

